<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <mat-toolbar color="primary">
    <span>Menú</span>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/productos">
      <mat-icon>local_mall</mat-icon>
    </button>
    <button mat-icon-button routerLink="/contactos">
      <mat-icon>mail</mat-icon>
    </button>
  <button mat-icon-button routerLink="/usuarios">
    <mat-icon>person</mat-icon>
  </button>
  </mat-toolbar>
  



  <router-outlet></router-outlet>
</body>

</html>